*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 740px;
    background-image: linear-gradient(rgba(0,0,0, 0.9),rgba(212, 89, 55, 0.5)), url(foodback.jpg);
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
    margin: -10px;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #EDC8BE;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #D45937;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    color: #EDC8BE;
}
.content p{
    margin: 30px auto;
    font-weight: 100;
    line-height: 25px;
}
.scroll{
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #D45937;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #D45937;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s
}
button:hover span{
    width: 100%;
    border: none;
}

.aboutext{
    text-align: center;
    font-size: 23px;
    margin-top:8.5%;
    margin-bottom: 20px;
    color: #ffe6cc;
    text-align: center
}
html {
  scroll-behavior: smooth;
}