<!DOCTYPE html>
<html lang="en">
<head>
    <title>Safe Bite | Admin</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body style="background-color: #D1543f;">

    <div class="banner">
        <div class="navbar">
            <a href="/">
                <img src="static/logosafewhite.png" class="logo">
            </a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Restaurant Interface</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/change_password">Change Passowrd</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="content1">
        <div class="container">
    <h1 class="admin-title">RESTAURANT INTERFACE</h1>
    <form action="/admin", method="post">
        <label for="dish-name" class="form-label">Dish Name:</label>
        <input type="text" id="ingredient_str" autocomplete="off" class="input-field" name="ingredient_str", style="display: none">
        <input type="text" id="dish-name" autocomplete="off" class="input-field" name="dish-name">
        <br><br>
        <label for="description" class="form-label">Description:</label>
        <input type="text" id="description" autocomplete="off" class="input-field" name="description">
        <br><br>
        <label for="price" class="form-label">Price:</label>
        <input type="text" id="price" autocomplete="off" class="input-field" name="price">
        <br><br>
        <label for="ingredients" class="form-label">Ingredients:</label>
        <div style="display: flex">
            <input style="height: 20px" type="text" id="ingredients" autocomplete="off" class="input-field" name="ingredients">
            <button class="round-button" id="add_ingredient" type="button" style="margin-top: -0.0001px; height: 45px; background: blue; border: 2px solid #152275"> Add Ingredient </button>
        </div>

        <div class="tag-container" id="tag-container">
            <!-- Ingredients will be displayed here as separate boxes -->
        </div>

        <button class="round-button" id="submit_dish" name="submit_dish" type="submit" value="submit_dish"> Submit/Update Dish </button>
        <button class="round-button" id="remove_dish" name="remove_dish" type="submit" value="remove_dish"> Remove Dish </button>

    </form>
    </div>
    </div>
</body>


    <script>

        let ingredient_list = [];
        var add_ingredient = document.getElementById('add_ingredient');

        const ingredient = document.getElementById('ingredients');
        const tagContainer = document.getElementById('tag-container');

        add_ingredient.addEventListener('click', function() {
            if (ingredient.value.trim() !== '') {
                const tagContainer = document.getElementById('tag-container');
                const newTag = document.createElement('div');
                newTag.className = 'tag';
                newTag.textContent = ingredient.value;

                ingredient_list.push(ingredient.value);

                newTag.addEventListener('click', function() {
                    removeTag(newTag);
                });

                tagContainer.appendChild(newTag);
                ingredient.value = '';
            }
        });

        function removeTag(tag) {
            const index = ingredient_list.indexOf(tag.textContent);
            if (index !== -1) {
                ingredient_list.splice(index, 1);
            }
            tag.remove();

        }

        submit_dish.addEventListener('click', function() {
            let ingredient_str = ingredient_list.join(',');

            var ingredient_str_input = document.getElementById('ingredient_str');

            ingredient_str_input.value = ingredient_str;

        });
    </script>
</body>
</html>
