<!DOCTYPE html>
<html lang="en">
<head>
    <title>Safe Bite</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body style="background-color: #D1543f;">
    <div class="banner">
        <div class="navbar">
            <img src="static/logosafewhite.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Admin</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>SAFE BITE</h1>
            <p>Dining Without Doubt: Your Allergy-Friendly Guide</p>
            <div>
                <a href="#searchbar">
                <button class="scroll" type="button"><span></span>START SEARCH</button>
                </a>
            </div>
        </div>
    </div>
    <br><br>
<div class="aboutext">
    <h1 style="font-size: 60px;">Safe Bite</h1> <br>
    <p>Introducing Safe Bite - Your Dining Ally! <br>Sick of struggling with food allergies or dietary restrictions when eating out? Safe Bite simplifies the process. <br> Restaurants enter their ingredients into our database, and you input your allergies. We do the rest. <br> Our system instantly shows you which dishes at various eateries match your dietary needs. <br> Say goodbye to dining dilemmas – choose Safe Bite for worry-free meals!</p>
</div>
    <br><br>
<style>
input[type=text] {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
</style>
<form method="post" class="form" id="searchbar">
    <center><input type="text" name="restsearch" placeholder="Restaurant..."></center>
</form>
<br><br><br><br><br><br><br>
    <footer style="background-color: #ff9933">
        <br>
        <div style="text-align: right; margin-right: 40px; font-size: 20px;" >Help Center  |  Email  |  Phone  |  Blog  |  FAQ</div>
        <div style="text-align: right; margin-right: 40px; margin-top: 5px" >&copy; All rights reserved.</div>
        <br>
    </footer>

</body>
</html>