<!DOCTYPE html>
<html lang="en">
<head>
    <title>Safe Bite</title>
    <link rel="stylesheet" href="static/rest.css">
    <style>
      input[type=text] {
      width: 50%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 10px;
      font-size: 16px;
      background-color: white;
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
}
</style>
</head>

<body>


    <div class="banner">
        <div class="navbar">
            <img src="static/logosafewhite.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Admin</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>{{restaurant}}</h1>
            <p>Authentic Italian cuisine with a modern twist, featuring handmade pasta and woodfired pizza</p>

            <form method="post" class="form">
    <center><input type="text" name="allsearch" placeholder="Dietary Restrictions..."></center>
            </form>


            <div>
            </div>
        </div>
    </div>

<br><br><br>

{% for food in food_containing_allergy %}
    <h1>{{food}}</h1>
{% endfor %}
</body>
</html>